{% extends 'visualization_app/base.html' %}
{% load static %}

{% block app %}
<div> 
    <div class="card" style="padding-bottom:75px; min-height:550px;">
        <div class="card-header">
            <h3 style="display:inline-block;">LibHub</h3>
            <img src="{% static 'img/logo.png' %}" alt='logo' style="float:right; height: 36px;">
        </div>
        {% for domain_libraries in all_libraries %}
        {% if forloop.first %}
        <form action="{% url 'visualization' %}" method="post" style="margin-bottom:20px;", id="{{domain_libraries.0.Domain}}">
        {% else %}
        <form action="{% url 'visualization' %}" method="post" style="margin-bottom:20px; display:none;", id="{{domain_libraries.0.Domain}}">
        {% endif %}
        {% csrf_token %}

        <div class="card-body">
            <div class="card">
                <ul class="list-group list-group-flush">
                    {% for library in domain_libraries %}
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" name="{{library.Name}}" value="checked" id="{{library.Name}}">
                            <label class="custom-control-label" for="{{library.Name}}">{{library.Name}}</label>
                        </div>
                        <a href="http://github.com/{{library.Git_Rep}}">{{library.Git_Rep}}</a>
                        <h4 style="float: right; margin: -10px 0;">Domain - {{library.Domain}}</h4>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        <br>
        <input style="float:right;" type="submit" value="Compare these libraries">
        </div>
        </form>
        {% endfor %}
        <div class="card-footer" style="padding:5px;">
            <img src="{% static 'open-iconic/svg/chevron-left.svg' %}" alt='left arrow' class="scroller scroller-left">
            <img src="{% static 'open-iconic/svg/chevron-right.svg' %}" alt='right arrow' class="scroller scroller-right">
            <div class="wrapper">
                <ul class="nav nav-tabs list">
                    {% for domain_libraries in all_libraries %}
                    <li class="nav-list">
                        {% if forloop.first %}
                        <a class="nav-link active" id="nav{{domain_libraries.0.Domain}}" href="#" onclick="changeNav('{{domain_libraries.0.Domain}}')">{{domain_libraries.0.Domain}}</a>
                        {% else %}
                        <a class="nav-link" id="nav{{domain_libraries.0.Domain}}" href="#" onclick="changeNav('{{domain_libraries.0.Domain}}')">{{domain_libraries.0.Domain}}</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<style>
    .card-footer{
        position:absolute;
        bottom:0;
        width:100%;
    }

    .wrapper {
        position:relative;
        margin:0 auto;
        overflow:hidden;
        padding:5px;
        height:30px;
    }

    .list {
        position:absolute;
        left:0px;
        top:0px;
        min-width:3000px;
        margin-left:12px;
        margin-top:0px;
    }

    .list li{
        display:table-cell;
        position:relative;
        text-align:center;
        cursor:grab;
        cursor:-webkit-grab;
        color:#efefef;
        vertical-align:middle;
    }

    .scroller {
        text-align:center;
        cursor:pointer;
        display:none;
        padding:10px;
        padding-top:11px;
        white-space:no-wrap;
        vertical-align:middle;
    }

    .scroller-right{
        float:right;
    }

    .scroller-left {
        float:left;
    }
</style>

<script>
function changeNav(id) {
    document.getElementById(id).style.display = "Block";
    document.getElementById("nav"+id).classList.add("active");
    let domains = [{% for domain_libraries in all_libraries %}"{{ domain_libraries.0.Domain }}",{% endfor %}]
    for (let index = 0; index < domains.length; index++) {
        if (domains[index] != id){
            try{
                document.getElementById(domains[index]).style.display = "None";
                document.getElementById("nav"+domains[index]).classList.remove("active");
            }
            catch(err){
                console.log(domains[index] + " is not in navbar footer")
            }
        }
    }
}

    /* Scroller JS and CSS from https://www.bootply.com/l2ChB4vYmC , with modification */
    var hidWidth;
    var scrollBarWidths = 40;

    var widthOfList = function(){
    var itemsWidth = 0;
    $('.list li').each(function(){
        var itemWidth = $(this).outerWidth();
        itemsWidth+=itemWidth;
    });
    return itemsWidth;
    };

    var widthOfHidden = function(){
    return (($('.wrapper').outerWidth())-widthOfList()-getLeftPosi())-scrollBarWidths;
    };

    var getLeftPosi = function(){
    return $('.list').position().left;
    };

    var reAdjust = function(){
    if (($('.wrapper').outerWidth()) < widthOfList()) {
        $('.scroller-right').show();
    }
    else {
        $('.scroller-right').hide();
    }
    
    if (getLeftPosi()<0) {
        $('.scroller-left').show();
    }
    else {
        $('.item').animate({left:"-="+getLeftPosi()+"px"},'slow');
        $('.scroller-left').hide();
    }
    }
    document.addEventListener("DOMContentLoaded", function() {
        reAdjust();
    });

    $(window).on('resize',function(e){  
        reAdjust();
    });

    $('.scroller-right').click(function() {
    
    $('.scroller-left').fadeIn('slow');
    $('.scroller-right').fadeOut('slow');
    
    $('.list').animate({left:"+="+widthOfHidden()+"px"},'slow',function(){

    });
    });

    $('.scroller-left').click(function() {
    
        $('.scroller-right').fadeIn('slow');
        $('.scroller-left').fadeOut('slow');
    
        $('.list').animate({left:"-="+getLeftPosi()+"px"},'slow',function(){
        
        });
    });
</script>

{% endblock %}