{% extends 'visualization_app/base.html' %}

{% block app %}
<div> 
    <div class="card" style="padding-bottom:50px;">
        <h3 class="card-header">LibHub</h3>
        <div class="card-body">
            <div class="card">
                <ul class="list-group list-group-flush">
                    {% for library in libraries %}
                    <li class="list-group-item">
                        <h4>{{library.name}}</h4>
                        <a href="http://github.com/{{library.url}}">{{library.url}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        <br>

        <a href="{% url 'test' %}">Hey lets go to the test visualization page</a>

        </div>
        <div class="card-footer">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Testing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Mocking</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Another Domain</a>
                    </li>
                </ul>
        </div>
    </div>
</div>

<style>
    .card-footer{
        position:absolute;
        bottom:0;
        width:100%;
    }
</style>

{% endblock %}