{% extends 'visualization_app/base.html' %}
{% load static %}

{% block app %}
<div class="card">

    <div class="card-header">
        <h3 style="margin: 0; display:inline-block;">
            <a href="{% url 'index' %}" style="display:inline-block;">
                <img src="{% static 'img/back_arrow.png' %}" alt='back arrow' style="height: 36px; margin: auto;">
            </a>
        LibHub</h3>
        <img src="{% static 'img/logo.png' %}" alt='logo' style="float:right; height: 36px;">
    </div>

    {% for visualization in visualizations %}
    {% if forloop.first %}
    <div id="{{visualization.0}}" class="mx-auto card-body" style="display: Block; width: 700px;">
    {% else %}
    <div id="{{visualization.0}}" class="mx-auto card-body" style="display: None; width: 700px;">
    {% endif %}

    {% if visualization.0 == "Stack Overflow" %}
    <figure>
        <embed type="image/svg+xml" src={{ visualization.1|safe }} />
    </figure>
    <figure>
        <embed type="image/svg+xml" src={{ visualization.2|safe }} />
    </figure>
    {% for libraryname in notDiscussed %}
    <h5 style="text-align:center;">! - {{ libraryname }} was not discussed.</h5>
    {% endfor %}
    {% else %}
    <figure>
        <embed type="image/svg+xml" src={{ visualization.1|safe }} />
    </figure>
    {% endif %}
    </div>
    {% endfor %}

    <div class="card-footer" style="padding:5px;">
        <img src="{% static 'open-iconic/svg/chevron-left.svg' %}" alt='left arrow' class="scroller scroller-left">
        <img src="{% static 'open-iconic/svg/chevron-right.svg' %}" alt='right arrow' class="scroller scroller-right">
        <div class="wrapper">
            <ul class="nav nav-tabs list">
                {% for visualization in visualizations %}
                <li class="small">
                    {% if forloop.first %}
                    <a class="nav-link active" id="nav{{visualization.0}}" href="#" onclick="changeNav('{{visualization.0}}')">{{visualization.0}}</a>
                    {% else %}
                    <a class="nav-link" id="nav{{visualization.0}}" href="#" onclick="changeNav('{{visualization.0}}')">{{visualization.0}}</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<!-- Scroller JS and CSS from https://www.bootply.com/l2ChB4vYmC , with modification -->

<style>
    .wrapper {
        position:relative;
        margin:0 auto;
        overflow:hidden;
        padding:5px;
        height:30px;
    }

    .list {
        position:absolute;
        left:0px;
        top:0px;
        min-width:3000px;
        margin-left:12px;
        margin-top:0px;
    }

    .list li{
        display:table-cell;
        position:relative;
        text-align:center;
        cursor:grab;
        cursor:-webkit-grab;
        color:#efefef;
        vertical-align:middle;
    }

    .scroller {
        text-align:center;
        cursor:pointer;
        display:none;
        padding:10px;
        padding-top:11px;
        white-space:no-wrap;
        vertical-align:middle;
    }

    .scroller-right{
        float:right;
    }

    .scroller-left {
        float:left;
    }
</style>
<script>
    function changeNav(id) {
        document.getElementById(id).style.display = "Block";
        document.getElementById("nav"+id).classList.add("active");
        let visualization_names = ["Popularity Count", "Release Frequency", "Last Modified Date",
        "Backwards Compatibility", "Stack Overflow", "Security & Performance", "Issue Data Response Time", "Issue Data Resolved Time"];
        for (let index = 0; index < visualization_names.length; index++) {
            if (visualization_names[index] != id){
                try {
                    document.getElementById(visualization_names[index]).style.display = "None";
                    document.getElementById("nav"+visualization_names[index]).classList.remove("active");
                }
                catch(err){
                    console.log(visualization_names[index] + " is not in navbar footer")
                }
            }      
        }
    }
    
    var hidWidth;
    var scrollBarWidths = 40;

    var widthOfList = function(){
    var itemsWidth = 0;
    $('.list li').each(function(){
        var itemWidth = $(this).outerWidth();
        itemsWidth+=itemWidth;
    });
    return itemsWidth;
    };

    var widthOfHidden = function(){
    return (($('.wrapper').outerWidth())-widthOfList()-getLeftPosi())-scrollBarWidths;
    };

    var getLeftPosi = function(){
    return $('.list').position().left;
    };

    var reAdjust = function(){
    if (($('.wrapper').outerWidth()) < widthOfList()) {
        $('.scroller-right').show();
    }
    else {
        $('.scroller-right').hide();
    }
    
    if (getLeftPosi()<0) {
        $('.scroller-left').show();
    }
    else {
        $('.item').animate({left:"-="+getLeftPosi()+"px"},'slow');
        $('.scroller-left').hide();
    }
    }
    document.addEventListener("DOMContentLoaded", function() {
        reAdjust();
    });

    $(window).on('resize',function(e){  
        reAdjust();
    });

    $('.scroller-right').click(function() {
    
    $('.scroller-left').fadeIn('slow');
    $('.scroller-right').fadeOut('slow');
    
    $('.list').animate({left:"+="+widthOfHidden()+"px"},'slow',function(){

    });
    });

    $('.scroller-left').click(function() {
    
        $('.scroller-right').fadeIn('slow');
        $('.scroller-left').fadeOut('slow');
    
        $('.list').animate({left:"-="+getLeftPosi()+"px"},'slow',function(){
        
        });
    });

    </script>

{% endblock %}